
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: rgb(53, 51, 51);
}

a:hover {
  color: rgb(53, 51, 51);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  margin-top: 90px;
}

/*
back to top
*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 998;
  background: white;
  border: 2px solid #EEB902;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #EEB902;
  line-height: 0;
}
.back-to-top i:hover {
  background: #EEB902;
  color: white;
}
.back-to-top:hover{
  background: #EEB902;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*
aos en mobile desactivado
*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*
Header
*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
  background: rgba(103, 176, 209, 0.8);
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  background: rgba(0, 0, 0, 0.66);
  padding: 12px;
}
#header .logo h1 {
  font-size: 24px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 15px 0;
  }
}

/*
# nav
*/

/**
* escritorio nav 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  background: rgba(255, 255, 255, 0.2);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 10px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  color: rgb(53, 51, 51);
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: rgb(53, 51, 51);
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* cel nav 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #eebb029e;
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: rgb(53, 51, 51);
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #EEB902;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #EEB902;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*
hero
*/
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(27, 28, 8, 0.365), rgba(181, 181, 55, 0.2)), url("../img/alvan-nee-8g0D8ZfFXyA-unsplash.jpg") center; 
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}
#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}
#hero .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*
# HERO CONTACTO
*/

#herocontacto {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(27, 28, 8, 0.365), rgba(181, 181, 55, 0.2)), url("../img/contact.jpg") center; 
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}
#herocontacto .hero-containercontacto {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#herocontacto h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herocontacto h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herocontacto .btn-get-startedcontacto {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}
#herocontacto .btn-get-startedcontacto:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 1024px) {
  #herocontacto {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #herocontacto h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herocontacto h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*
# HERO CHECKOUT
*/

#herocheckout {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(27, 28, 8, 0.365), rgba(181, 181, 55, 0.2)), url("../img/contact2.jpg") center; 
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}
#herocheckout .hero-containercheckout {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#herocheckout h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herocheckout h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herocheckout .btn-get-startedcheckout {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}
#herocheckout .btn-get-startedcheckout:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 1024px) {
  #herocheckout {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #herocheckout h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herocheckout h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/* contatct */

.form{
  width: 70%;
  margin:auto;
  margin-top: 9%;
  margin-bottom: 9%;
}

/*
# HERO JUGUETES
*/

#herojuguetes {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(27, 28, 8, 0.365), rgba(181, 181, 55, 0.2)), url("../img/juguetes.jpg") center; 
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}
#herojuguetes .hero-containerjuguetes {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#herojuguetes h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herojuguetes h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herojuguetes .btn-get-startedjuguetes {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}
#herojuguetes .btn-get-startedcontacto:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 1024px) {
  #herojuguetes {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #herojuguetes h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herojuguetes h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*
# HERO FARMACIA
*/

#herofarmacia {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(27, 28, 8, 0.365), rgba(181, 181, 55, 0.2)), url("../img/farmacia2.jpg") center; 
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}
#herofarmacia .hero-containerfarmacia {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#herofarmacia h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herofarmacia h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}
#herofarmacia .btn-get-startedfarmacia {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}
#herofarmacia .btn-get-startedfarmacia:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 1024px) {
  #herofarmacia {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #herofarmacia h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #herofarmacia h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/*
# Sections General
*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f4f9fc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: rgb(53, 51, 51);
  z-index: 2;
}
.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}
.section-title p {
  margin-bottom: 0;
}


/*
# Cart
*/

#cart {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35rem;
}


/*
# About
*/
.about {
  background: url("../img/about-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9;
}
.about .container {
  position: relative;
  z-index: 10;
}
.about .content {
  padding: 30px 30px 30px 0;
}
.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #EEB902;
  margin-bottom: 30px;
}
.about .content p {
  margin-bottom: 30px;
}
.about .content .about-btn {
  display: inline-block;
  background: #EEB902;
  padding: 6px 44px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}
.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}
.about .content .about-btn:hover {
  background: white;
  color: #EEB902;
  border: 1px solid #EEB902;
}
.about .icon-boxes .icon-box {
  margin-top: 30px;
}
.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}
.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/*
servicios
*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.services .icon-box::before {
  content: "";
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: #67b0d1;
  top: 0;
  border-radius: 0px;
}
.services .icon {
  margin-bottom: 15px;
}
.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #67b0d1;
  transition: all 0.3s ease-in-out;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon i {
  color: #fff;
}

/*
# contadores
*/
.counts {
  padding-bottom: 30px;
}
.counts .count-box {
  padding: 30px;
  width: 100%;
}
.counts .count-box i {
  display: block;
  font-size: 44px;
  color: #EEB902;
  float: left;
  line-height: 0;
}
.counts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: rgb(53, 51, 51);
  margin-left: 60px;
}
.counts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.619);
}
.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #49788c;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.counts .count-box a:hover {
  color: #6e9fb4;
}

/*
cta
*/
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.358), rgba(0, 0, 0, 0.214)), url("../img/contact2.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}
.cta h3 {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: white;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}
.cta .cta-btn:hover {
  border-color: #fff;
}

/*
portfolio
*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #ecf5f9;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #2f4d5a;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #67b0d1;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #EEB902;
  transition: 0.3s;
  width: 50%;
}
/* .portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(103, 176, 209, 0.95);
} */
.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #8ec4dd;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}


/*
footer
*/
#footer {
  background: #EEB902;
  padding: 0 0 30px 0;
  color: rgb(53, 51, 51);
  font-size: 14px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-top: -90px;
  margin-bottom: 15px;
  background: white;
  color: rgb(53, 51, 51);
  border-top: 4px solid #eebb02ac;
  text-align: center;
  padding: 30px 20px;
}
#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #EEB902;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: white;
  color: #EEB902;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(53, 51, 51);
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgb(53, 51, 51);
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: rgb(53, 51, 51);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: rgba(53, 51, 51, 0.612);
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #EEB902;
  border: 1px solid white;
  color: rgb(53, 51, 51);
  transition: 0.3s;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #EEB902;
}
#footer .copyright {
  border-top: 1px solid white;
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

.contact {
  padding-bottom: 80px;
}
.contact .info-box {
  color: #444444;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}
.contact .info-box i {
  font-size: 32px;
  color: #EEB902;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f0f7fa;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}
/* .contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
} */
/* .contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
} */
/* .contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
} */
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #EEB902;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
/* .contact .php-email-form button[type=button] {
  background: #EEB902;
  border: 0;
  padding: 10px 24px;
  color: #444444;
  transition: 0.4s;
}
.contact .php-email-form button[type=button]:hover {
  background: white;
  border: 2px solid #EEB902;
} */

#btnformulario{
  background: #EEB902;
  border: 0;
  padding: 10px 24px;
  color: #444444;
  transition: 0.4s;
}

#btnformulario:hover{
  background: white;
  border: 2px solid #EEB902;
}

/* #btncomprar{
  background: #EEB902;
  border: 0;
  padding: 10px 24px;
  color: white;
  transition: 0.4s;
  font-size: 14px;
  font-weight: bold;
}

#btncomprar:hover{
  background: white;
  border: 2px solid #EEB902;
} */

#btnmarket{
background: transparent;
border: none;
}

/* cart */

.shopping__cart__table {
  margin-bottom: 30px;
}

.shopping__cart__table table {
  width: 100%;
}

.shopping__cart__table table thead {
  border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table thead tr th {
  color: var(--color2);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.shopping__cart__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table tbody tr td {
  padding-bottom: 30px;
  padding-top: 30px;
}

.shopping__cart__table table tbody tr td.product__cart__item {
  width: 400px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__pic {
  float: left;
  margin-right: 30px;
}

.shopping__cart__table-img {
  width: 90px;
  height: 90px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__text {
  overflow: hidden;
  padding-top: 21px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__text
  h6 {
  color: var(--color2);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.product__cart__item
  .product__cart__item__text
  h5 {
  color: var(--color2);
  font-weight: 700;
}

.shopping__cart__table table tbody tr td.quantity__item {
  width: 175px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 {
  width: 80px;
}

.shopping__cart__table
  table
  tbody
  tr
  td.quantity__item
  .quantity
  .pro-qty-2
  input {
  width: 50px;
  border: none;
  text-align: center;
  color: var(--color2);
  font-size: 16px;
  font-weight: bold;
}

.shopping__cart__table
  table
  tbody
  tr
  td.quantity__item
  .quantity
  .pro-qty-2
  .qtybtn {
  font-size: 16px;
  color: var(--color1);
  width: 10px;
  cursor: pointer;
}

.shopping__cart__table table tbody tr td.cart__price {
  color: var(--color2);
  font-size: 18px;
  font-weight: 700;
  width: 140px;
}

.shopping__cart__table table tbody tr td.cart__close i {
  font-size: 18px;
  color: #111111;
  height: 40px;
  width: 40px;
  background: #f3f2ee;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.continue__btn.update__btn {
  text-align: right;
}

.continue__btn.update__btn a {
  color: #ffffff;
  background: #111111;
  border-color: #111111;
}

.continue__btn.update__btn a i {
  margin-right: 5px;
}

.continue__btn a {
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
}

.restasumx{
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bolder;
}